@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

.container {
  @apply max-w-[1392px] px-[16px] md:px-[24px] m-auto w-full h-full;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }


  html, body {
    @apply scrollbar-custom; 
  }


  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }


  .scrollbar-custom::-webkit-scrollbar {
    width: 12px;
  }

  .scrollbar-custom::-webkit-scrollbar-button {
    display: none;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #6E62E5; 
    border-radius: 2px; 
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: #25265e;
  }
}
